.table a
  color: inherit
  text-decoration: none
.table--margin
  margin-bottom: 30px
.table
  overflow: hidden
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
  &-head
    position: relative
    width: 100%
    height: 62px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0px 30px
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
    border-radius: 5px 5px 0 0
    background-color: #ffffff
    text-transform: uppercase
    color: black
    &__title
      font-family: 'Play', sans-serif
      color: black
      line-height: normal
      font-style: normal
      letter-spacing: normal
      font-size: 22px
      font-weight: 700
      font-style: normal
      letter-spacing: normal
  &-wrap

  &-points
    padding: 30px
    color: black
    width: 100%
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
    background-color: #ffffff
    &__head

    &__head tr
      height: 50px
      border-bottom: 1px solid rgba(0,0,0,0.05)
    &__head td
      font-size: 14px
      font-weight: 700
      font-style: normal
      letter-spacing: normal
    &__body tr
      height: 50px
      border-bottom: 1px solid rgba(0,0,0,0.05)
    &__body td
      font-size: 14px
      font-weight: 400
      font-style: normal
      letter-spacing: normal
    &__name
      position: relative
      height: 50px
    &__name span
      position: absolute
      text-align: center
      top: 50%
      transform: translate(0, -50%)
      margin-left: 14px

  &-bottom
    height: 50px
    padding: 0 30px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #fff
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
    border-radius: 0 0 5px 5px
    &__btn
      color: $background-dark !important
      border: none
      background-color: transparent
      text-decoration: none
  &-match
    font-weight: 700 !important

.matches
  margin-bottom: 30px

  &-bottom
    &__btn
    &__league

  &-points
    &__head
    &__head td
      text-transform: uppercase
      color: $background-dark
    &__head td:nth-child(2)
      position: relative
    &__head td:nth-child(2) span
      position: absolute
      right: 5px
      top: 50%
      transform: translate(0, -50%)
    &__body td:nth-child(2)
      position: relative
      display: flex
      margin-top: 11px
    &__body td:nth-child(2) a
      width: 100%
      text-align: end
      margin-right: 16px

    &__tour
      font-weight: 700 !important
.matches tr
  height: 40px

.table-player
  padding: 30px
  background-color: #fff
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
  color: $background-black
  display: flex
  flex-direction: column
  align-items: center

  &__name
    font-size: 18px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    margin-top: 19px
    margin-bottom: 9px
  &__club
    font-size: 14px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
.table-player img
  height: 188px

.table-player td
  position: relative
.table-player td::after
  position: absolute
  content: attr(data-tooltip)
  opacity: 0
  transition: 0.5s all ease
  pointer-events: none
  left: 0
  top: 8px
  color: $background-gray
  font-size: 12px
  white-space: nowrap
.table-player td:hover::after
  opacity: 1
  top: 2.5em
.table-player td:nth-child(1)
  font-weight: 700
  cursor: pointer
.table-player td:nth-child(3)
  font-weight: 700
  cursor: pointer
.table-player td:nth-child(5)
  font-weight: 700
  cursor: pointer
.table-player table
  width: 100%
